
<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" type="text/css" href="/static/enpj/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script type="text/javascript">
        var importLanguage = "{{ language}}";
        var importSignLanguageQuestion = "{{ signLanguageQuestion }}";
        var importSignLanguageAnswerA = "{{ signLanguageAnswerA }}";
        var importSignLanguageAnswerB = "{{ signLanguageAnswerB }}";
        var importSignLanguageAnswerC = "{{ signLanguageAnswerC }}";
        var importQuestionNumber = {{ question_number }};
        var importMedia = "{{ media }}";
        var importExampleAnswer = "{{ answer_a }}";
        var importTimerSeconds = {{ timerSeconds }};
        var importQuestionId = {{ id_question }};
        var importIdExam = {{ id_exam }};
        var importCsrfToken = "{{ csrf_token }}";
    </script>
    <title>Egzamin</title>
</head>
<body>
    <div id="main">
        <div id="top">
            <table>
                <tr>
                    <td class="topTdLabel"><label id="labelPoints">Wartość punktowa</label></td>
                    <td class="topTdSpan"><span class="topTdSpanBox" id="points">{{ points }}</span></td>
                    <td class="topTdLabel"><label id="labelCategory">Aktualna kategoria</label></td>
                    <td class="topTdSpan"><span class="topTdSpanBox">{{ category }}</span></td>
                    <td id="topTdLabelTime"><label id="labelTimeToEnd">Czas do końca egzaminu</label></td>
                    <td class="topTdSpan"><span class="topTdSpanBox" id="time">{{ timer }}</span></td>
                </tr>
            </table>
        </div>
        <div id="left">
            <div id="media">
                <video id="video" autoplay src="/static/enpj/media/{{ media }}"  type="video/mp4" muted="true"></video>
                <img id="img" src="/static/enpj/media/{{ media }}">
            </div>
            <div id="question">{{ question }}</div>
            <div id="answers">
                <div id="buttonT" class="button" onClick="takeAnswer('T')">TAK</div>
                <div id="buttonN" class="button" onClick="takeAnswer('N')">NIE</div>
                <div id="buttonA" class="button" onClick="takeAnswer('A')">{{ answer_a }}</div>
                <div id="buttonB" class="button" onClick="takeAnswer('B')">{{ answer_b }}</div>
                <div id="buttonC" class="button" onClick="takeAnswer('C')">{{ answer_c }}</div>
            </div>
        </div>
        <div id="right">
            <table id="rightTable">
                <tr><td colspan="2"><button id="buttonFinish" onClick="finishExamButton()">Zakończ egzamin</button></td></tr>
                <tr><td><label id="labelPrimaryQuestions">Pytania podstawowe</label></td><td><label id="labelSpecQuestions">Pytania specjalistyczne</label></td></tr>
                <tr><td><span class="questionCount" id="primary_number">{{ primary_number }} / 20</span></td><td><span class="questionCount" id="spec_number">{{ spec_number }} / 12</span></td></tr>
                <tr><td colspan="2" id="timeFor">Czas na udzielenie odpowiedzi</td></tr>
                <tr><td id="startColumn"><button onClick="startButton()">Start</button></td><td colspan="2"><div id="outerBar" style="background-color: grey; text-align:left">
                    <div id="myBar" style="width:100%;background-color:green;">20</div></div></td></tr>
                <tr><td colspan="2"><button id="buttonNextQuestion" onclick='nextQuestion()'>Następne pytanie</button></td></tr>
                <tr><td colspan="2"><label id="labelSignLanguageInfo"></td></tr>
                <tr><td colspan="2"><video id="videoSignLanguage" autoplay src=""  type="video/mp4" muted="true" style="display:none"></video></td></tr>
            </table>
        </div>
    </div>
</body>
<script src="/static/enpj/exam.js"></script>
